body{
  margin: 0;
  padding: 0;
  margin-bottom: 50%;
  
}

header{
  margin-left: 25px;
  margin-right: 35px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    
}

.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items-right{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-link{
  text-decoration: none;
  color:black;
}


.nav-list-item{
  margin-left: 15px;
}

.nav-list-item1{
margin-left: 15px;
color: #ff764d;

}

.nav-link-logo{
  display: flex;
}

.nav-link1{
  text-decoration: none;
  color: #ff764d
}

.nav-list{
  list-style: none;
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
   
}

.nav-seperator{
  height: 0;
  margin: 0;
  padding: 0;
  border-top: 2px solid #eee;
  width: 100%;
  
}

.nav-container{
  display: flex;
}

.right-nav-item1{
  margin-left: 15px;
  font-size: 1.25rem ;
  color: #0000ff;
}

.right-nav-link1{
  text-decoration: none;
  color: #0000ff;
}

.right-nav-link2{
  text-decoration: none;
  color: black;
}

.right-nav-item2{
  margin-left: 15px;
  font-size: 1rem;
}

.secondary-nav ul{
  display: flex;
  list-style: none;
  font-size: 1rem;
  height: 25px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid black;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
}


.second-nav-item1, .second-nav-item2{
  margin-left: 15px;
}

.second-nav-item1{
  color: #ff764d;
}

.image-container{
  margin-top: 0;
  margin-left: 90px;
  margin-right: 90px;
  
}

.first-image{
  width: 100%;
}

#logo{
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
    
   .main-nav{
    padding: 20px;
   }
    .nav-list{
      display: none;
    }
    .nav-items-right{
      display: none;
    }
}