body{
  margin: 0;
  padding: 0;
  margin-bottom: 100%;
  
}

header{
  margin-left: 25px;
  margin-right: 35px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    
}

h1{
  font-size: 1.875rem;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}

p{
  line-height: 1.4;
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
}


.container-3-img-1{
  position: relative;
  height: 20%;
  margin-top: 20% ;
  z-index: 1;
  
}


.container-3-img-2{
  position: relative;
  margin-top: 100px;
  height: 20%;
  z-index: 1;
}

.container-3-img-3{
  position: relative;
  z-index: 1;
}

.forth-text-container{
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  display: block;
}

.first-image{
  width: 100%;
}

.first-text-container{
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  display: block;
}

.first-text{
   display: block;
  margin: 0;
  
}


.first-text-link{
  text-decoration: none;
  color: #0000ff;
}

.green-box{
  background-color: #b6ffc0 ;
  height: 95%;
  width:65%;
  margin-top: 10%;
}

.image-container{
  margin-top: 0;
  margin-left: 90px;
  margin-right: 90px;
  
}

.image-container-2{
  position: relative;
  display: flex;
  justify-content: flex-end;
   width: 1500px;
    height: 700px;
    margin-top: 100px;
    margin-bottom: 0;
    
  
}

.image-container-3{
  position: relative;
  display: flex;
  justify-content: start;
   width: 1400px;
    height: 1300px;
    margin-top: 100px;
    margin-right: 100px;
  }


.main-nav-button{
  display: none;
}

.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: none;
 }


.nav-items-right{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-link{
  text-decoration: none;
  color:black;
}


.nav-list-item{
  margin-left: 15px;
}

.nav-list-item1{
margin-left: 15px;
color: #ff764d;

}

.nav-link-logo{
  display: flex;
}

.nav-link1{
  text-decoration: none;
  color: #ff764d
}

.nav-list{
  list-style: none;
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
   
}

.nav-seperator{
  height: 0;
  margin: 0;
  padding: 0;
  border-top: 2px solid #eee;
  width: 100%;
  
}

.nav-container{
  display: flex;
}

.overlay-container-1{
  position: absolute;
  margin-right: 55%;
  margin-top: 5%;
  height: 80%;
}

.overlay-container-2{
  position: absolute;
  margin-top: 10%;
  margin-left: 30%;
  padding-left: 30%;
}

.overlay-container-3{
  position:absolute;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 15%;
  height: 140%;
  z-index: 1;
  
  
}

.overlay-container-4{
  position:absolute;
  z-index: 1;
  margin-left: 50%;
  margin-top: 25%;
  height: 50%;
}


.overlay-image-1{
  height: 100%;
  width: 125%;
  z-index: 1;
  
}


.overlay-image-2{

  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  z-index: 1;
  
}


.right-nav-item1{
  margin-left: 15px;
  font-size: 1.25rem ;
  color: #0000ff;
}

.right-nav-link1{
  text-decoration: none;
  color: #0000ff;
}

.right-nav-link2{
  text-decoration: none;
  color: black;
}

.right-nav-item2{
  margin-left: 15px;
  font-size: 1rem;
}

.slide-nav-logo{
  display: none;
  cursor: pointer;
}


.secondary-nav ul{
  display: flex;
  list-style: none;
  font-size: 1rem;
  height: 25px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  z-index: 2;
}

.sticky{
  padding-top: 0;
}

.second-slide-nav-list{
  display: none;
}

.second-nav-item1, .second-nav-item2{
  margin-left: 15px;
}

.second-nav-item1{
  color: #ff764d;
}


.second-text-container{
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  display: block;
}

.third-text-container{
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  display: block;
}


.thumbnail{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  
}

.video-player{
  position: relative;
  width: 100%;
  height: 100%;
}

.video-container{
  position: relative;
  margin-top: 5%;
 top:50%;
 left: 30%;
  width: 560px;
  height: 315px;
}

.video-caption{
  font-weight: bold;
  font-size: small;
  font-family: 'Roboto', sans-serif;
}

.yellow-box{
  background-color: 
  #fbffa7;
  height: 100%;
  width: 50%;
}


#close-button{
  display: none;
}


#logo{
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
    
  h1{
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
  }

   p{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
  }

  
  


  .first-text-container{
    margin-left:75px ;
    margin-right:75px ;
  }

  .first-text-line-break{
    display: none ;
  }



  .image-container-2{
    position: relative;
    display: flex;
    justify-content: flex-end;
     width: 800px;
      height: 500px;
      margin-top: 100px;
      margin-right: 0;
      
    
  }

  .logo-container{
    margin: 20px;
    margin-top: 25px;
    margin-left: 35px;
    display: flex;
  }

  .logo-container{
    display: flex;
  }


  .main-nav-button{
    display: inline-block;
    padding: 5px;
    font-size: 1.25rem;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
  }

   .main-nav{
    margin: 20px;
   }

   .menu ul{
    display: block;
    color: #fff;
    list-style: none;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: blue;
    overflow: hidden;
    transition: height 0.3s ease;
    z-index: 2;
    overflow-y: auto;
    
  }
  
  .menu.open {
    height: 100vh;
  }

  .nav-button-container{
    display: flex;
    display: inline-block ;
    margin-left: 15px;
    margin-top: 10px;
  }


    .nav-list{
      display: none;
    }
    .nav-items-right{
      display: none;
    }

    .overlay-container-1{
      position: absolute;
      margin-right: 50%;
      margin-top: 7%;
      height: 80%;
    }
    
    .overlay-container-2{
      position: absolute;
      margin-top: 20%;
      margin-left: 30%;
      padding-left: 30%;
      margin-right: 8%;
    }
    

    .overlay-image-1{
      z-index: 1;
      height: 90%;
      width: 110%;
      
    }
    
    
    .overlay-image-2{
    
      top: 0;
      left: 0;
      width: 100%;
      height: 90%;
      z-index: 1;
      
    }


    .sticky{
      display: none;
    }

    .slide-nav-list{
      font-size: 1.25rem;
      font-weight: 500;
      font-family: 'Roboto', sans-serif;
    }

    .second-slide-nav-list{
      display: flex;
      white-space: wrap;
      
    }
    
   
    .slide-nav-logo{
      display: flex;
    }

    .slide-nav-list-item{
      line-height: 2.5 ;
      font-size: 1.25rem;
    }

    .slide-nav-list-item-1{
      color: #ff764d;
      font-size: .875rem;
    }

    .slide-nav-list-item-2{
      line-height: 2.5;
    }

    .slide-nav-list-item-3{
        font-size: 20px;
        color:#fff;
        line-height: 2.5;
        font-family: 'Roboto', sans-serif;
      
    }

    .video-container{
      position: relative;
      margin-top: 5%;
     top:50%;
     left: 15%;
      width: 560px;
      height: 315px;
    }

    .yellow-box{
      background-color: 
      #fbffa7;
      height: 100%;
      width: 60%;
    }


    
    #close-button {
      display: none; /* Initially hidden */
      color: #fff;
      border: none;
      margin-left: 6px;
      font-size: 1.25rem;
      font-family: 'Roboto', sans-serif;
      background-color: #0000ff;
    }
    
    #menu-toggle.open {
      display: none; /* Hide when menu is open */
    }
    
    #close-button.open {
      display: block; /* Show when menu is open */

    }

   
   
    
   



}